body {
  text-align: justify;
}

.social-links {
	text-align: center;
  	animation-name: baslik;
	opacity: 0;
	animation-delay: 1s;
  	animation-duration: 2s;
  	animation-fill-mode: forwards;
	.fa {
		margin: 5px;
		margin-top: 30px;
		padding: 5px;
		color: #ecf0f1;
		text-shadow: 1px 1px 5px #000;
		transition-property: text-shadow;
	 	transition-duration: 0.2s;
	 	transition-delay: 0s;
		&:hover{
			color: #FFF;
		  	text-shadow: 1px 1px 10px #000;
		}
	}
}
.sosyal {
	.fa {
		margin-top: 10px !important;
		color: $bg-blue !important;
	  	text-shadow: 1px 1px 1px rgba(81, 81, 81, 0.3) !important;
		&:hover{
		  text-shadow: 1px 1px 4px rgba(81, 81, 81, 1) !important;
		}
	}
}
