---
layout: default
title: Entrer en contact
intro: Vous souhaitez me contacter? Avec plaisir!
---


<p><a data-toggle="collapse" href="#about_site" aria-expanded="false" style= "text-decoration: none;color: black;">
  <b>A propos du site</b>
</a></p>

<p class="collapse" id="about_site">
  Commentaire, suggestion, critique, proposition, tout est le bienvenu!
</p>

<p><a data-toggle="collapse" href="#services_particuliers" aria-expanded="false" style= "text-decoration: none;color: black;">
  <b>Services pour particuliers</b>
</a></p>

<p></p><div class="collapse" id="services_particuliers">
  {% include al type='debut_liste' %}
    {% include al type='element_liste' %}coaching complet{% include al type='fin_element_liste' %}
    {% include al type='element_liste' %}aide ponctuelle{% include al type='fin_element_liste' %}
    {% include al type='element_liste' %}"audit de votre personne" = qu'est-ce que vous m'inspirez, ce que vous 
    pourriez travailler relativement à un objectif que vous me décrirez{% include al type='fin_element_liste' %}
    {% include al type='element_liste' %}tbd{% include al type='fin_element_liste' %}
  {% include al type='fin_liste' %}
</div>

<p><a data-toggle="collapse" href="#services_entreprises" aria-expanded="false" style= "text-decoration: none;color: black;">
  <b>Services pour entreprises</b>
</a></p>

<p></p><div class="collapse" id="services_entreprises">
  Fort d'une expérience en agilité, Design Thinking, et holacracy, je suis à présent une ambassadrice de ces différents modes de travail, 
  qui permettent d'allier stratégie, efficacité, motivation.

  <br><br>Après des postes en management et direction de projet, j'accompagne à présent les équipes et personnes.

  <br><br>Plutôt que de chercher à appliquer la forme "pure" de différents modes de travail, j'oriente les changements en fonction du contexte, et des souhaits d'évolution.
  Je propose ainsi des interventions de différents types:




<div class="row">
  
  <div class="col-md-3">
    <div class="card">
      <h5 class="card-header bg-primary">Formation</h5>
      <div class="card-block">
        <p class="card-text">
        Conception et animation de formations vivantes: agilité, Design Thinking, management, organisation des équipes, relations, Holacracy, ...
        </p></div>
    </div>
  </div>
  
    <div class="col-md-3">
    <div class="card">
      <h5 class="card-header bg-primary">Ateliers</h5>
      <div class="card-block">
        <p class="card-text">
        Organisation et animation d'ateliers pratiques au sein d'équipes: bilan, axes d'améliorations, réflexions collaboratives, plan d'actions, ...
      </p></div>
    </div>
  </div>
  
   <div class="col-md-3">
    <div class="card">
      <h5 class="card-header bg-primary">Workshops</h5>
      <div class="card-block">
        <p class="card-text">
        Organisation et animation de workshops: phases amont projets, ...
      </p></div>
    </div>
  </div>
  
   <div class="col-md-3">
    <div class="card">
      <h5 class="card-header bg-primary">Accompagnement d'équipes</h5>
      <div class="card-block">
        <p class="card-text">
        Relativement à un objectif discuté et validé ensemble, accompagnement d'équipes avec les formes adaptées: interviews, présence aux réunions, ateliers, workshops, ...
      </p></div>
    </div>
  </div>
  
  
  
   <div class="col-md-3">
    <div class="card">
      <h5 class="card-header bg-primary">Accompagnement individuel</h5>
      <div class="card-block">
        <p class="card-text">
        Relativement à un objectif discuté et validé ensemble, accompagnement d'une personne de votre entreprise vers l'atteinte de cet objectif
      </p></div>
    </div>
  </div>
  
  
  
   <div class="col-md-3">
    <div class="card">
      <h5 class="card-header bg-primary">Audit</h5>
      <div class="card-block">
        <p class="card-text">
          Interviews et participation à des réunions, puis restitution des observations et recommandations associées.
      </p></div>
    </div>
  </div>
  
</div>
</div>
