---
layout: default
title: Révélutions
intro: "Des articles sur l'amélioration des relations aux autres et à soi. 1 article = 1 notion, présentée de façon accessible et pragmatique
<br>Passionnée par les sciences humaines, ma vision recoupe des notions et outils issus du développement personnel, du coaching professionnel, 
et des méthodes d'organisation en entreprise."
---

<div class="row">
	<div class="card-columns">
		{% for article in site.pages %}{% if article.layout=="article" %}
		<!--class="col-md-4" -->
			<div style="border-bottom: 1px solid #eee;padding-bottom: 30px;padding-top: 30px;display: inline-block;">

				<a href="{{ article.url }}">
					<h4 style="margin-top: 10px;margin-bottom: 5px;">
						{{ article.title }}
					</h4>
				</a>

				<br>
				<a href="{{ article.url }}" style= "text-decoration: none;color: gray;">
					{{ article.intro }}
				</a>

				<!--<div class="col-sm-2">
					<a href="{{ article.url }}">
						<div  class="btn btn-primary align-middle">
							Lire l'article
						</div>
					</a>
				</div>-->
			</div>
		{% endif %}{% endfor %}
	</div>
</div>
