---
layout: default
---

<h1 class="my-4"><center>Bienvenue à toi !</center></h1>

<div class="row">
	<div class="col-md-8 mx-auto">
		{% for article in site.pages %}{% if article.layout=="article" %}
			<div style="border-bottom: 1px solid #eee;padding-bottom: 30px;padding-top: 30px;">
				
					<div class="row">
						<a href="{{ article.url }}">
							<h3 class="col-12" style="margin-top: 20px;margin-bottom: 10px;">
								{{ article.title }}
							</h3>
						</a>
					</div>
					<div class="row">
						
							<div class="col-sm-10" style="color: gray;">								
								<a href="{{ article.url }}" style= "text-decoration: none;">{{ article.intro }}</a>
							</div>

							<div class="col-sm-2 align-middle align-text-middle btn btn-primary">
								Learn More
							</div>
					</div>
			</div>
		{% endif %}{% endfor %}
	</div>
</div>
