---
layout: default
title: Entrer en contact
intro: Vous souhaitez me contacter? Avec plaisir!
---

<div class="row">
  <div class="col-md-8">

    <p><a data-toggle="collapse" href="#about_site" aria-expanded="false" style= "text-decoration: none;color: black;">
      <b>A propos du site</b>
    </a></p>

    <p class="collapse" id="about_site">
      Commentaire, suggestion, critique, proposition, tout est le bienvenu!
    </p>

    <p><a data-toggle="collapse" href="#services_particuliers" aria-expanded="false" style= "text-decoration: none;color: black;">
      <b>Services pour particuliers</b>
    </a></p>

    <p>Après avoir moi-même bénéficié de coaching en entreprise, je me suis formée et ai obtenu un diplôme de coach en 2016. 
    Il s'agit d'un diplôme reconnu par l'Etat (RNCP 1).
    <br>Cette formation, alliée à mon expérience, me permet de proposer différents services:</p>
    <div class="collapse" id="services_particuliers">
      {% include al type='debut_liste' %}
        {% include al type='element_liste' %}coaching complet{% include al type='fin_element_liste' %}
        {% include al type='element_liste' %}aide ponctuelle{% include al type='fin_element_liste' %}
        {% include al type='element_liste' %}"audit de votre personne" = qu'est-ce que vous m'inspirez, ce que vous 
        pourriez travailler relativement à un objectif que vous me décrirez{% include al type='fin_element_liste' %}
        {% include al type='element_liste' %}tbd{% include al type='fin_element_liste' %}
      {% include al type='fin_liste' %}
    </div>

    <p><a data-toggle="collapse" href="#services_entreprises" aria-expanded="false" style= "text-decoration: none;color: black;">
      <b>Services pour entreprises</b>
    </a></p>

    <p></p>
    <div class="collapse" id="services_entreprises">
      Fort d'une expérience en agilité, Design Thinking, et holacracy, je suis à présent une ambassadrice de ces différents modes de travail, 
      qui permettent d'allier stratégie, efficacité, motivation.

      <br><br>Après des postes en management et direction de projet, j'accompagne à présent les équipes et personnes.

      <br><br>Plutôt que de chercher à appliquer la forme "pure" de différents modes de travail, j'oriente les changements en fonction du contexte, et des souhaits d'évolution.
      Je propose ainsi des interventions de différents types:
      <p></p>
      
      <div class="row">
        {% for service in site.data.services %}
          <div class="col-md-4">
            <div class="card text-center">
              <h5 class="card-header bg-primary">{{service.titre}}</h5>
              <div class="card-block">
                <p class="card-text">
                  {{service.description}}
                </p></div>
            </div>
          </div>
        {% endfor %}
      </div>

  </div>
    
  <div class="col-md-3">
    Pour me contacter, vous pouvez me laisser un message et vos coordonnées:
    <p></p>
    <form action="https://formspree.io/nathalie.houpert@gmail.com" method="POST">
                     <div class="form-group"><textarea name=Message rows=5 class="form-control" ></textarea></div>
                    <button type=submit><i class="fa fa-1x fa-envelope-square"></i> Envoyer</button>
    </form> 
  </div>
</div>
