---
layout: default
title: Inspirations et influences
intro: Voici les courants, modèles, auteurs, qui m'ont le plus fait avancer dans ma vision des choses, et auxquels je continue à me référer.
---


  <table  border="1px">
    <tr>
      <th><b>Catégorie</b></th>
      <th><b>Courants, modèles</b></th>
      <!--<th><b>Livres</b></th>-->
    </tr>
    <tr>
      <td rowspan=3>
        Modèles comportements humains
      </td>
      <td>L'élément humain</td>
      <!--<td>L'élément humain, Will Schutz</td>-->
    </tr>

    <tr>
      <td>Process com</td>
      <!--<td></td>-->
    </tr>

    <!--<tr>
      <td>Logique émotionnelle</td>
      <!--<td>Comment apprivoiser son crocodile, Catherine Aimelet-Perissol</td>-->
   <!-- </tr>-->

    <tr>
      <td>Spirale dynamique</td>
      <!--<td></td>-->
    </tr>

    <tr>
      <td rowspan=2>Général</td>
      <td>Systémique</td>
      <!--<td>Solution Focus, Géry Derbier
        <br>La cinquième discipline, Peter Senge</td>-->
    </tr>
    <tr>
      <td>Communication Non Violente</td>
    </tr>

    <tr>
      <td rowspan=2>
        Entreprise
      </td>
      <td>Agilité, Lean Startup, Lean</td>
      <!--<td>Running Lean, Ash Maurya
        <br>Kanban pour l'IT, Laurent Morisseau
        <br>The principles of product development flow, Donal G. Reinerstein
        <br>Lean Analytics, Alistair Croll&Benjamin Yoskovitz
        <br>Implemeting beyond budgeting, Bjarte Bogsnes
      </td>-->
    </tr>

    <tr>
      <td>Entreprise libérée, Holacracy</td>
      <!--<td>Reinventing Organizations, Frédéric Laloux</td>-->
    </tr>
  </table>

<div class="row">
  <div class="column-6">
    <div class="row"><div class="column"><b>Catégorie</b></div></div>
    {% for categ in site.data.inspirations %}
      <div class="row"><div class="column">
          {{categ.categorie}}
      </div></div>
    {% endfor %}
  </div>
  
  <div class="column-6">
    <div class="row"><div class="column"><b>Modèles, courants, auteurs</b></div></div>
    {% for categ in site.data.inspirations %}
      <div class="row"><div class="column">
        {% for elem in categ.liste %}
            {{elem.element}}<br>
        {% endfor %}
      </div></div>
     {% endfor %}
  </div>
</div>

<div class="row">
  <div class="column-6">
    <b>Catégorie</b>
  </div>
  
  <div class="column-6">
    <b>Modèles, courants, auteurs</b>
  </div>
</div>
{% for categ in site.data.inspirations %}
  <div class="row">
    <div class="column-6">
  {{categ.categorie}}
  </div>
    <div class="column-6">
      {% for elem in categ.liste %}
        {{elem.element}}<br>
      {% endfor %}
    </div>
</div>
{% endfor %}
