---
layout: default
title: Inspirations et influences
intro: Voici les courants, modèles, auteurs, qui m'ont le plus fait avancer dans ma vision des choses, et auxquels je continue à me référer.
---

<div class="row">
  <div class="col-6 border">
    <b>Catégorie</b>
  </div>
  
  <div class="col-6 border">
    <b>Modèles, courants, auteurs</b>
  </div>
</div>
{% for categ in site.data.inspirations %}
  <div class="row">
    <div class="col-6 border">
  {{categ.categorie}}
  </div>
    <div class="col-6 border">
      {% for elem in categ.liste %}
        {{elem.element}}<br>
      {% endfor %}
    </div>
</div>
{% endfor %}
