{{ page.id_count }}
id_count
ert
{% case include.type %}
  {% when 'paragraphe' %}
    <p>
  {% when 'fin_paragraphe' %}
    </p>

  {% when 'passage_important' %}
    <div class='alert alert-primary' role='alert'><!--<span class='glyphicon glyphicon-star' aria-hidden='true'></span> -->

  {% when 'fin_passage_important' %}
    </div>
  {% when 'exemple' %}
    a{% increment page.id_count %}z
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ page.id_count }}" aria-expanded="false" aria-controls="collapseExample{{ page.id_count }}">
  Voir un exemple
</a>


<div class="collapse" id="collapseExample{{ page.id_count }}">
  <div class="card card-body">
      <p class="text-dark" style="margin-left : 10px;">
          <span class="glyphicon glyphicon-hand-right"></span>
          <i>
      


  {% when 'fin_exemple' %}
    </i></p></div></div>


  {% when 'debut_liste' %}
    <ul>
  {% when 'element_liste' %}
    <li>
  {% when 'fin_liste' %}
    </ul>
  {% when 'fin_element_liste' %}
    </li>
  {% when '

  {% else %}
     perdu
{% endcase %}

<!--{% increment page.id_count %}
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{page.id_count}}" aria-expanded="false" aria-controls="collapseExample{{page.id_count}}">
  Voir un exemple
</a>


<div class="collapse" id="collapseExample{{page.id_count}}">
  <div class="card card-body">
      <p class="text-dark" style="margin-left : 10px;">
          <span class="glyphicon glyphicon-hand-right"></span>
          <i>test</i>
      </p></div></div>
-->
