<!--modern business header-->
<nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <!--<a class="navbar-brand" href="/index.html">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>-->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index.html">Accueil</a>
            </li>
                
            <li class="nav-item">
              <a class="nav-link" href="/contact.html">Contact</a>
            </li>
                
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                A propos
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/auteur.html">L'auteur</a>
                <a class="dropdown-item" href="/about.html">Le site</a>
              </div>
            </li>
                
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Articles
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="blog-home-1.html">Categ 1</a>
                <a class="dropdown-item" href="blog-home-2.html">Categ 2</a>
              </div>
            </li>
                
          </ul>
        </div>
      </div>
    </nav>

