---
layout: default
---

<header>
  <div class="bg-primary text-white">
   <center>
    <h1 style="font-family: 'Indie Flower', cursive;">
     {{ page.title }}
    </h1>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            {{ page.intro }}
          </div>
        </div>
     </div>
   </center>
  </div>
</header>

 <!-- Post Content -->
<br><br>
<article>
 <div class="container">
    <div class="row">
       <div class="col-md-8 col-sm-10 mx-auto">
        {{ content }}
       </div>
       
     <div class = "col-md-offset-1 col-md-3">
           <p><div class="bg-light">
            <div class="row"><div class="col-12"><b>me contacter</b></div></div>
             <div class="row"><div class="col-12">
              <!--<div class = "col-md-2"><a href="mailto:{{ site.email }}" class="author-social" target="_blank"><i class="fa fa-2x fa-envelope-square"></i></a></div>
              <div class = "col-md-10">-->
              <h6>un commentaire, une question, une suggestion?</h6>
             </div></div>
             <div class="row"><div class="col-12">
               <form action="https://formspree.io/nathalie.houpert@gmail.com" method="POST">
                 <textarea name=Message rows=5></textarea> 
                <button type=submit><i class="fa fa-1x fa-envelope-square"></i> Envoyer</button>
              </form> 
              </div></div>
           </div></p>

      
        
           <p><div class="bg-light">
            <div class="row"><div class="col"><b>partager l'article</b></div></div>
             <div class="row">
              <div class="col-md-6"><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" title="Facebook" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a></div>
              <div class="col-md-6"><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | uri_escape }}" title="LinkedIn" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a></div>
             </div>
           </div></p>   
          
           <p><div class="bg-light">
            <div class="row"><div class="col"><b>suivre les nouveautés</b></div></div>
             <div class="row">
                 <div class="col-md-12">newsletter
                  <br>RSS</div>
             </div>
      </div></p>   
    
        </div>
    </div>
 </div>
</article>

{% include footer.html %}
