<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Give+You+Glory|Indie+Flower|Paytone+One|Poppins|Shadows+Into+Light+Two" rel="stylesheet">
		<!-- infos pour partage FB -->
		<meta property="og:url"           content="{{ page.url }}" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="{{ page.title }}" />
		{% if page.intro %} <meta property="og:description"   content="{{ page.intro }}" />{% endif %}
		<!--<meta property="og:image"         content="TBD" />-->


		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114683171-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-114683171-1');
		</script>


	</head>
	<body>
		<!-- Load Facebook SDK for JavaScript -->
		<!-- <div id="fb-root"></div>
		<script>(function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1";
		    fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));</script>-->

		{% include header.html %}

		{% if page.title %}
			<header>
			  <div class="bg-primary text-white">
			   <center>
			    <h1 style="font-family: 'Indie Flower', cursive;">
			     {{ page.title }}
			    </h1>
			   {% if page.intro %}
				   <div class="container-fluid">
					<div class="row">
					  <div class="col-md-12 mx-auto">
					    {{ page.intro }}
						{% if page.intro_large %}
						  <div class="d-none d-md-block">{{page.intro_large}}</div>
						{% endif %}

					  </div>
					</div>
				     </div>
			   {% endif %}
			   </center>
			  </div>
			</header>
		{% endif %}
		<br><br>


	<div class="container">
		<div class="row">
			<!--<div class="col-lg-8 cold-md-10 col-sm-12 mx-auto">-->
				
			<div class="col-12">
				{{ content }}
			</div>
		</div>
	</div>

	<div class="container-fluid">
		
		{% if page.layout=="article" %}{% include footer.html %}{% endif %}
	</div>
		<!-- Bootstrap core JavaScript -->
	    <script src="/js/jquery.min.js"></script>
	    <script src="/js/bootstrap.bundle.min.js"></script>

	</body>
</html>
