<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
			<!-- <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    			<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
			<link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">-->
		</head>
		<body>
			<ul class="nav nav-pills">
  				<li class="nav-item">
    					<a class="nav-link" href="/!">Home</a>
				</li>
  				<li class="nav-item">
    					<a class="nav-link" href="/about">About</a>
				</li>
  				<li class="nav-item">
    					<a class="nav-link" href="/cv">CV</a>
				</li>
  				<li class="nav-item">
    					<a class="nav-link" href="/articles">Blog</a>
				</li>
			</ul>
				


			
			<!--<div id="content-wrapper">
       				<div class="inner clearfix">
         				<section id="main-content">
           					{{ content }}
-			</section></div></div>!-->
			
			<section id="main-content">
           			{{ content }}
-			</section>
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
