---
layout: default
class_passage_important: "bg-info text-white"
passage_important: "<div class='alert alert-primary' role='alert'><!--<span class='glyphicon glyphicon-star' aria-hidden='true'></span> -->"
fin_passage_important: "</div>"
paragraphe: "<p>"
fin_paragraphe: "</p>"
exemple: {% include 'example.html' text='test' id = {% increment id_count %}
fin_exemple: ""
debut_liste: "<ul>"
element_liste: "<li>"
fin_liste: "</ul>"
fin_element_liste: "</li>"
---
{% assign id_count = 0 %}

<header><h1 style="font-family: 'Covered By Your Grace', cursive;"><div class="bg-dark text-white"><center>{{ page.title }}</center></div></h1>
<h1 style="font-family: 'Indie Flower', cursive;"><div class="bg-dark text-white"><center>{{ page.title }}</center></div></h1>
 

</header>
<!--<p class="meta">{{ page.date | date_to_string }}</p>-->

 <!-- Post Content -->
<article>
 <div class="container">
    <div class="row">
       <div class="col-md-8 col-sm-10 mx-auto">
        {{ content }}
       </div>
       
     <div class = "col-md-offset-1 col-md-3">
           <p><div class="bg-light">
            <div class="row"><div class="col"><b>me contacter</b></div></div>
             <div class="row">
              <div class = "col-md-2"><a href="mailto:{{ site.email }}" class="author-social" target="_blank"><i class="fa fa-2x fa-envelope-square"></i></a></div>
              <div class = "col-md-10"><h6>Un commentaire, une question, une suggestion?</h6></div>
             </div>
           </div></p>

      
        
           <p><div class="bg-light">
            <div class="row"><div class="col"><b>partager l'article</b></div></div>
             <div class="row">
              <div class="col-md-6"><a href="http://facebook.com/{{ site.facebook }}" class="author-social" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a></div>
              <div class="col-md-6"><a href="http://linkedin.com/in/{{ site.linkedin }}" class="author-social" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a></div>
             </div>
           </div></p>   
          
           <p><div class="bg-light">
            <div class="row"><div class="col"><b>suivre les nouveautés</b></div></div>
             <div class="row">
                 <div class="col-md-12">newsletter
                  <br>RSS</div>
             </div>
      </div></p>   
    
        </div>
    </div>
 </div>
</article>

<!--{% include social_links.html %} -->
