---
layout: article
title: "Par quel axe puis-je changer?"
date: 2018-03-19
intro: "Analyser son passé ou se focaliser sur son futur, se prendre en main ou se faire accompagner, se former en continu ou ponctuellement,… vous hésitez?"
tags: agir
id: axes_changer
---

{% include al type='paragraphe' %}

{% include al type='passage_important' %}
Il y a une causalité circulaire entre mes croyances (sur les autres, et moi), mes besoins, mon comportement, et ce qui m’arrive.
{% include al type='fin_passage_important' %}

C’est à dire: 

{% include al type='debut_liste' %}
{% include al type='element_liste' %}ce que je crois -> influe sur mon comportement{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}comment j’agis -> influe sur mes résultats{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}ce qui m’arrive -> influe sur mes croyances{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}mes besoins -> influe sur mes ressentis/interprétations -> mon comportement{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}mes résultats -> influe sur mes besoins{% include al type='fin_element_liste' %}
{% include al type='fin_liste' %}

{% include al type='fin_paragraphe' %}


{% include al type='paragraphe' %}

{% include al type='passage_important' %}
Un changement sur chacune de ses dimensions peut aboutir à un changement de l’ensemble des dimensions.
{% include al type='fin_passage_important' %}
{% include al type='fin_paragraphe' %}

{% include al type='exemple' %}
Tom souffre de solitude, il aimerait appartenir à un groupe d’amis (besoin). Il aimerait beaucoup échanger simplement avec d’autres personnes, mais il ne se sent pas apprécié des autres (croyance). Ainsi, lorsqu’il est en présence d’autres personnes, il se tient à l’écart pour éviter le rejet (comportement). En conséquence de quoi, il n’échange avec personne et son besoin d’appartenance reste non rempli (résultat).
<br><br>
<b>Axe croyance</b>: Lors d’un échange avec un professionnel de l’accompagnement, Tom se remémore des exemples vécus où il avait parfaitement réussi à s’intégrer. Sa croyance “je vais me faire rejeter” évolue en “je suis capable de m’intégrer”. Tom est libéré, il n’a plus d’inhibition. Il va dorénavant facilement vers les autres et est accueilli positivement.
<br><br>
<b>Axe comportement</b>: Après une lecture de développement personnel, Tom décide de tenter une approche différente, malgré la peur du rejet. Il va vers un groupe et interagit avec eux en s’inspirant des rôles qu’il joue à son club d’impro. Il réalise qu’il est tout à fait capable de s’intégrer. Depuis cet essai réussi, il va de plus en plus vers les autres.
<br><br>
<b>Axe besoin</b>: Tom s’inscrit à un club vidéo. Au fil des semaines, il tisse des liens avec les autres personnes. Son besoin d’appartenance est comblé. La peur du rejet par d’autres groupes tombe petit à petit, et il devient l’aise pour aller vers les autres.
<br><br>
<b>Axe résultat</b>: lors d’une formation professionnelle, chaque personne doit se présenter d’une manière originale. Tom reçoit beaucoup d’éloges sur sa prestation. Il prend confiance en lui et devient plus à l’aise pour aller vers les autres.
{% include al type='fin_exemple' %}

{% include al type='paragraphe' %}
C’est ainsi qu’on change tout au long de notre vie, sans l’avoir consciemment choisi.
Et cela donne un large éventail de possibilités pour changer de manière consciente.

<br><br>Lectures, formations, coaching, thérapie, échanges, club/assoce, théâtre, ...
{% include al type='passage_important' %}
Quelle méthode choisir? Celle qui vous attire! Et dont les bénéfices se confirmeront.
{% include al type='fin_passage_important' %}
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}
Ces méthodes diffèrent par rapport à de nombreux critères, comme la motivation nécessaire pour s'y mettre, continuer ou réussir, 
le délai pour changer, les répétitions nécessaires, le coût financier, l'axe sur lequel elle fait travailler, ...

<!--
<br><hr><br>PS: Voici mon avis sur certaines de ces méthodes:
<br><br>
<b>Le coaching</b>
<br><i>Les plus</i>: par sa nature, c’est la méthode qui apporte le plus de chances de réussite, et le plus rapidement. En effet, le coaching se concentre sur votre objectif, est entièrement sur mesure, et permet de travailler sur tous les axes en fonction de ce qui émergera: croyance, comportement, besoin .
<br><i>Les moins</i>: le coaching nécessite un investissement financier et de la motivation
<br><i>Bilan</i>: à choisir pour le(s) sujet(s) qui valent la peine.
<br><br>
<b>La lecture</b>
<br><i>Les plus</i>: c’est la forme la plus facile, vous restez dans votre zone de confort.
<br><i>Les moins</i>: pour porter ses fruits, il faut souvent multiplier les lectures sur un même thème, pendant des mois ou des années, car on ne peut intégrer et appliquer qu’une petite partie à chaque fois.
<br>On peut aussi passer à côté de ce qui nous aiderait le plus, se tromper de problème, etc. (ex: chercher comment faire durer votre couple alors que votre “problème” est dans le choix du partenaire par rapport à votre attente du couple)
<br><i>Bilan</i>: à choisir quand on souhaite prendre son temps.
<br><br>
<b>Les clubs/assoces</b>
<br><i>Les plus</i>: ils permettent de répondre à un besoin insuffisamment rempli.
<br><i>Les moins</i>: vous ne savez pas à l’avance ce que vous pouvez espérer comme changement
<br><i>Bilan</i>: si vous ressentez l’envie de vous inscrire quelque part, allez-y!
<br><br>
<b>Les formations</b>
<br><i>Les plus</i>: la participation physique permet de se motiver, et souvent de faire des jeux de rôle concrets
<br><i>Les moins</i>: si la formation se fait en 1 fois, elle vous permettra de découvrir un concept, rarement de le mettre en pratique, car des itérations et rappels sont souvent nécessaires lorsqu’il s’agit de changer.
<br>Les formations nécessitent souvent un effort financier.
<br>On peut aussi passer à côté de ce qui nous aiderait le plus (ex: s’incrire à une formation pour ne plus procrastiner, alors que votre procrastination était un message pour signifier votre mécontentement)
<br><i>Bilan</i>: à choisir s’il s’agit d’une formation physique étalée sur des mois
{% include al type='fin_paragraphe' %}
-->
