---
layout: post
title: "Qui doit faire un effort, l'autre ou moi?"
date: 2018-01-19
intro: "Vous arrive-t-il, lors de tensions avec quelqu'un, de vous demander si ça vient de lui ou de vous? Attendez-vous toujours de l'autre de changer et de se comporter comme vous préférez? Ou au contraire vous reprochez-vous toujours quelque chose?"
---

{{ page.intro }}

{% include article_layout.html type='paragraphe' %}
J'aborde dans cet article un point qui est fondamental lorsqu'on aime comprendre ou évoluer dans ses relations:
{% include article_layout.html type='passage_important' %}notre vie est en permanence guidée par nos besoins. {% include article_layout.html type='fin_passage_important' %}
{% include article_layout.html type='fin_paragraphe' %}

{% include article_layout.html type=‘paragraphe’ %}
Je fais référence aux besoins d’appartenance, de reconnaissance, de sécurité, d’ordre, de liberté, de développement, de challenge, de solitude, …
<br>On rencontre souvent, sans en être forcément conscients, des difficultés dans notre quotidien et relations dues aux faits:
{% include article_layout.html type=‘debut_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} d’agir sans avoir conscience de son besoin {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} de ne pas exprimer son besoin aux autres {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} d’avoir un conflit de besoins avec les autres {% include article_layout.html type=‘fin_element_liste’ %}
{% include article_layout.html type=‘fin_liste’ %}
{% include article_layout.html type=‘exemple’ %} Un exemple qui englobe ces trois difficultés : mon partenaire vient me parler et je lui réponds agressivement
, sans raison apparente. Il se met à pleurer, alors que ce type d'altercation est fréquent et généralement bénin. 
<br>Je n’avais ni réalisé ni partagé que j’avais besoin de me retrouver seul, d'où l'agressivité semblant sortir de nulle part parce qu'il m'a parlé et est allé à l'encontre de ce besoin fort à ce moment - et l'agressivité est une façon d'exprimer ce besoin : en étant désagréable on peut espérer rester seul un moment.
<br>Il n’avait pas partagé le besoin d’un moment de complicité, besoin expliquant la réaction de pleurs car il s'est senti rejeté quand il recherchait le contact - et les pleurs sont une autre façon d'exprimer ce besoin : il espère à présent se faire consoler.{% include article_layout.html type=‘fin_exemple’ %}
{% include article_layout.html type=‘fin_paragraphe’ %}

{% include article_layout.html type=‘paragraphe’ %}{% include article_layout.html type=‘passage_important’ %}
Quand on identifie un problème ponctuel dans une relation, on peut alors se poser la question:
{% include article_layout.html type=‘debut_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} est-ce que je fais l’effort? {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} est-ce que je demande à l’autre de faire l’effort? {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} est-ce qu’on cherche à faire des efforts des deux côtés? {% include article_layout.html type=‘fin_element_liste’ %}
{% include article_layout.html type=‘fin_liste’ %}{% include article_layout.html type=‘fin_passage_important’ %}
{% include article_layout.html type=‘exemple’ %} Par exemple : je me dispute avec mes enfants car ils ne rangent pas leur chambre. J’ai besoin d’ordre quand eux ont besoin de liberté. 
{% include article_layout.html type=‘debut_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} je peux travailler sur moi jusqu’à arriver à accepter ou tolérer que leur chambre leur appartient {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} je peux leur expliquer mon besoin d’ordre et leur demander ensuite de ranger leur chambre {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} on peut chercher un compromis : ne rien laisser traîner au sol, ranger une fois par semaine leur chambre, ranger parfaitement les pièces communes {% include article_layout.html type=‘fin_element_liste’ %}
{% include article_layout.html type=‘fin_liste’ %}{% include article_layout.html type=‘fin_exemple’ %} 
{% include article_layout.html type=‘fin_paragraphe’ %}

{% include article_layout.html type=‘paragraphe’ %}
Je fais apparaître la notion d'effort, on peut penser à :
{% include article_layout.html type=‘debut_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} repousser à plus tard son besoin {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} y répondre d’une autre manière {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} accepter de ne pas le remplir {% include article_layout.html type=‘fin_element_liste’ %}
{% include article_layout.html type=‘fin_liste’ %}
{% include article_layout.html type=‘exemple’ %}Par exemple, j’ai prévu de regarder un film car j’ai besoin de calme. Mais mon bébé se réveille à ce moment là! Je peux repousser à plus tard mon film; ou je peux remplacer le film par une promenade en poussette qui répondra également à mon besoin de calme; ou je peux choisir de répondre à ses sourires et jouer avec lui.{% include article_layout.html type=‘fin_exemple’ %} 
<br>Il n’y a pas de bonne ou de mauvaise option. Une relation, c’est un équilibre entre tous ces besoins. 
<br>Parfois il pourra sembler très facile de changer soi-même, d’autres fois on ne s’en sent pas capable, ou alors d'autres personnes sont également concernées et on peut alors espérer que l’autre fasse l'effort de changer. Quand l'effort est difficile des deux côtés, il vaut mieux opter pour la 3è option.
{% include article_layout.html type=‘fin_paragraphe’ %}

{% include article_layout.html type=‘paragraphe’ %}La principale difficulté consiste peut-être à identifier le besoin qui se cache derrière nos comportements.
{% include article_layout.html type=‘exemple’ %}Par exemple il est fréquent de manger alors qu’on n’a pas vraiment faim. Ce comportement peut répondre à des besoins très différents: se faire plaisir, agir, être réconforté, être libre, ...{% include article_layout.html type=‘fin_exemple’ %} 

Voici pour vous aider dans cette identification, des besoins universels qui se manifestent dans nos comportements:
{% include article_layout.html type=‘debut_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Se sentir en sécurité {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Contacts sociaux {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Appartenir à un groupe {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Intimité (se confier, partager des expériences très personnelles, intimité physique) {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Être reconnu (en tant que personne, par rapport à mes compétences, mon opinion, …) {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} S'aimer (s'estimer, se faire plaisir, s'autoriser à) {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Accomplissements {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Donner un sens à sa vie {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Liberté, autonomie, indépendance {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Besoins sensoriels, physiques (repas, musique, décoration, prendre soin de son corps, …) {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Besoins intellectuels (écrire, lire, apprendre, …) {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} S'amuser, prendre du plaisir, être spontané {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Être créatif et imaginatif {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Vivre conformément à ses valeurs {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Connaître et respecter ses limites (dire parfois non, dire quand on se sent blessé, …) {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Donner à une cause, contribuer à un monde meilleur {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Solitude, calme {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Défis, challenge, stimulation {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Structuration, contrôle (agenda, environnement, travail, habitudes) {% include article_layout.html type=‘fin_element_liste’ %}
  {% include article_layout.html type=‘element_liste’ %} Harmonie (entourage, environnement) {% include article_layout.html type=‘fin_element_liste’ %}
{% include article_layout.html type=‘fin_liste’ %}
