---
layout: article
title: "Faire un effort: l'autre ou moi?"
date: 2018-01-19
intro: "Vous arrive-t-il, lors de tensions avec quelqu'un, de vous demander si ça vient de lui ou de vous? 
Attendez-vous toujours de l'autre de changer et de se comporter comme vous préférez? 
Ou au contraire vous reprochez-vous toujours quelque chose?"
---

{% include al type='paragraphe' %}
Si la phrase ci-dessous ne vous parle pas, je vous invite à lire tout d'abord [cet article]({% link articles/besoins.html %})
{% include al type='passage_important' %}notre vie est en permanence guidée par nos besoins. {% include al type='fin_passage_important' %}
{% include al type='fin_paragraphe' %}


{% include al type='paragraphe' %}
On rencontre souvent, sans en être forcément conscients, des difficultés dans notre quotidien et relations dues aux faits:
{% include al type='debut_liste' %}
  {% include al type='element_liste' %} d'agir sans avoir conscience de son besoin {% include al type='fin_element_liste' %}
  {% include al type='element_liste' %} de ne pas exprimer son besoin aux autres {% include al type='fin_element_liste' %}
  {% include al type='element_liste' %} d'avoir un conflit de besoins avec les autres {% include al type='fin_element_liste' %}
{% include al type='fin_liste' %}
{% include al type='exemple' %} Mon partenaire vient me parler et je lui réponds sèchement. Il se met à pleurer, ce qui me semble être une réaction disproportionnée. 
<br>Je n'avais ni réalisé ni partagé que j'avais besoin de me retrouver seul. Le fait qu'il vienne me parler allait à l'encontre de mon besoin - et l'agressivité est une façon d'exprimer ce besoin : en étant désagréable on peut espérer rester seul un moment.
<br>Il n'avait pas partagé le besoin d'un moment de complicité, besoin expliquant la réaction de pleurs car il s'est senti rejeté quand il recherchait le contact - et les pleurs sont une autre façon d'exprimer ce besoin : il espère à présent se faire consoler.{% include al type='fin_exemple' %}
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}{% include al type='passage_important' %}
Quand on identifie des tensions dans une relation saine, on peut alors se poser la question:
{% include al type='debut_liste' %}
  {% include al type='element_liste' %} est-ce que je fais un effort pour améliorer la situation? {% include al type='fin_element_liste' %}
  {% include al type='element_liste' %} est-ce que je demande à l'autre de faire l'effort? {% include al type='fin_element_liste' %}
  {% include al type='element_liste' %} est-ce qu'on cherche à faire des efforts des deux côtés? {% include al type='fin_element_liste' %}
{% include al type='fin_liste' %}{% include al type='fin_passage_important' %}
{% include al type='exemple' %} Je me dispute avec mes enfants car ils ne rangent pas leur chambre. J'ai besoin d'ordre quand eux ont besoin de liberté. 
{% include al type='debut_liste' %}
  {% include al type='element_liste' %} je peux travailler sur moi jusqu'à arriver à accepter ou tolérer qu'ils gèrent leur chambre comme ils veulent {% include al type='fin_element_liste' %}
  {% include al type='element_liste' %} je peux leur exprimer mon besoin d'ordre et leur demander ensuite de ranger leur chambre {% include al type='fin_element_liste' %}
  {% include al type='element_liste' %} on peut chercher un compromis : ne rien laisser traîner au sol, ranger une fois par semaine leur chambre, ranger parfaitement les pièces communes {% include al type='fin_element_liste' %}
{% include al type='fin_liste' %}{% include al type='fin_exemple' %} 
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}
Je fais apparaître la notion d'effort, on peut penser à :
{% include al type='debut_liste' %}
  {% include al type='element_liste' %} repousser à plus tard son besoin {% include al type='fin_element_liste' %}
  {% include al type='element_liste' %} y répondre d'une autre manière {% include al type='fin_element_liste' %}
  {% include al type='element_liste' %} accepter de ne pas le remplir {% include al type='fin_element_liste' %}
{% include al type='fin_liste' %}
{% include al type='exemple' %}J'ai prévu de regarder un film car j'ai besoin de calme. Mais mon bébé se réveille à ce moment là!
<br>Je peux repousser à plus tard mon film; 
ou je peux remplacer le film par une promenade en poussette qui répondra également à mon besoin de calme; 
ou je peux choisir de répondre à ses sourires et jouer avec lui.{% include al type='fin_exemple' %} 
<br>Il n'y a pas de bonne ou de mauvaise option a priori. Une relation, c'est un équilibre entre les besoins des protagonistes. 
<br>Parfois il nous sera très facile de changer soi-même. D'autres fois on ne s'en sent pas capable, ou alors d'autres personnes partagent notre ressenti, et on peut alors espérer que l'autre fasse l'effort de changer. Quand l'effort est difficile des deux côtés, il vaut mieux opter pour la 3è option.
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}La principale difficulté consiste peut-être à identifier le besoin qui se cache derrière nos comportements.
{% include al type='exemple' %}Dans l'exemple ci-dessus avec les tensions parent/enfants parce qu'ils ne rangent pas leur chambre, peut-être que le parent n'avait pas besoin d'ordre mais de se sentir respecté, 
ou alors reconnu dans son rôle de gestionnaire de ménage, ou alors un besoin de routine.{% include al type='fin_exemple' %}.
<br>Je vous invite à consulter une liste de besoins universels dans cet article {% link articles/besoins.html %}.
{% include al type='fin_paragraphe' %}
