---
layout: article
title: "Accorder de la place à votre guide"
date: 2018-03-03
intro: "Vous pensez ou souhaitez contrôler ce que vous faites, et dites? Et si vous réappreniez à suivre le meilleur guide : vous-même"
tags: soi
id: guide_interieur
---

{% include al type='paragraphe' %}
Vous vous grattez. Avez-vous décidé de le faire ou vous êtes vous surpris en train de le faire? Quand vous parlez, ne découvrez-vous pas en parlant ce qui sort de votre bouche? Avez-vous réfléchi avant de pleurer ou de sourire?
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}
Voici ma vision des choses.
{% include al type='passage_important' %}L’homme, tout comme les autres animaux, est avant tout en mode “pilote automatique” - au sens non réfléchi.
Ce pilote automatique* a des capteurs ultra-efficaces, et connaît nos sensations corporelles, nos émotions, nos aspirations profondes, nos besoins, ...

<br><br>Comme il bénéficie de toutes ces informations, ce pilote est généralement très efficace pour nous guider. Il est notre tour de contrôle principale et décide à chaque instant de quoi on a besoin immédiatement.
{% include al type='fin_passage_important' %}
C’est ainsi qu’il enverra des signaux pour signifier qu’on a besoin de manger, se rafraîchir, dormir. C’est lui qui est au coeur des émotions : on se met à pleurer, à rire, à sourire, à s’isoler, ... Et c’est aussi lui qui sait répondre à la question “qu’ai-je envie de faire maintenant?”
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}
Ce que signifie tout cela, c’est que
{% include al type='passage_important' %}il faut apprendre à s’observer, s’écouter, se ressentir, se faire confiance.{% include al type='fin_passage_important' %}
{% include al type='exemple' %}Une personne vous semble sympathique? Allez lui parler! Vous sentez une envie de partir faire un tour dehors? Ne vous privez pas! Vous avez une baisse de forme, la flemme de sortir? Prenez soin de vous!
{% include al type='fin_exemple' %}

{% include al type='passage_important' %}Plus souvent vous vous concentrerez sur votre ressenti intérieur, et plus facilement vous arriverez à le percevoir.
{% include al type='fin_passage_important' %}
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}Bien sûr, ce mode automatique a des limites, et le mode réfléchi a également son rôle à jouer. J’en parle dans cet article.
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}
<i>* En pratique, les choses sont bien sûr plus complexes. Le pilote automatique n’est justement pas une entité pilote, mais un tas de mécanismes physiques indépendants.</i>
{% include al type='fin_paragraphe' %}
