---
layout: article
title: "Qu'attendez-vous de votre vie?"
date: 2018-02-18
intro: "La question est très difficile… mais ne serait-ce pas la question la plus importante de toute votre vie?"
tags: choisir
id: objectif_vie
---

{% include al type='paragraphe' %}Vivre sans objectif de vie, reviendrait pour moi à être “spectacteur”: des situations non choisies s’enchaînent, on choisit juste la réplique et la réaction.
L’alternative, c’est d’opter pour une vie sur mesure pour vous, en vous impliquant dans le choix de la pièce dans laquelle vous jouez, et en créant votre rôle.
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}
Comment déterminer son objectif de vie? Une méthode est de vous poser la question : 
{% include al type='passage_important' %}S’il n’y avait aucune contrainte - j’ai toute l’énergie, le temps et l’argent qu’il me faut, et aucune obligation sociale - , et si j’étais certain de réussir dans mes projets, que ferais-je?
{% include al type='fin_passage_important' %}
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}
Les premières réponses peuvent correspondre à des manques actuels, plutôt qu’à une aspiration profonde. 
{% include al type='exemple' %}Votre première réponse pourrait être “ne rien faire”. Il y a peu de chance que cela vous satisfasse longtemps.{% include al type='fin_exemple' %}
Pour aller au-delà de ces premières réponses, on peut s’interroger si on serait comblé de cette façon toute une vie, ou si on voudrait faire autre chose ensuite.
Et renouveler la question jusqu’à avoir une réponse stable.
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}{% include al type='passage_important' %}
Partant de cet “idéal”, il faut ensuite en tirer l’essence, la motivation derrière notre réponse.
{% include al type='fin_passage_important' %}

{% include al type='exemple' %}Si je me suis vu voyager de pays en pays, de ville en ville, ai-je un besoin de liberté? D’aventure? De nouveauté? D’apprentissage de cultures? De rencontres?
{% include al type='fin_exemple' %}
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}Des exemples d’aspirations : rendre ma famille heureuse, aider des personnes défavorisées, agir pour la planète, accompagner des enfants en difficulté, avoir vécu sur chaque continent …
Je cite plusieurs exemples tournés vers les autres, car c’est souvent le summum de ce qu’on peut attendre de sa vie.
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}
{% include al type='passage_important' %}L’étape d’après, c’est voir comment on souhaite répondre, au moins en partie, 
à cette aspiration, en mettant cette fois les contraintes du quotidien. 
{% include al type='fin_passage_important' %}
Pour une même aspiration, on peut envisager des dizaines de réponses différentes, en variant les efforts et les engagements. 

{% include al type='exemple' %}Prenons le cas d’une personne ayant comme objectif d’avoir un impact positif sur l’écologie. La personne peut envisager de nombreuses choses:
{% include al type='debut_liste' %}
{% include al type='element_liste' %}vérifier qu’elle est exemplaire au niveau de gestes simples du quotidien, comme le tri de ses déchets{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}aller ensuite sur des mesures demandant plus d’efforts: aller au travail en vélo plutôt qu’en voiture, isoler son logement{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}s’engager dans une association sur ce thème{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}essayer de faire changer les comportements autour d’elle{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}travailler pour une entreprise dans l’innovation écologique{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}déménager et construire un logement innovant en matière d’impact sur l’écologie{% include al type='fin_element_liste' %}
{% include al type='fin_liste' %}
{% include al type='fin_exemple' %}
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}Laissez vous le choix, et le temps. Autorisez-vous à ne pas y répondre tout de suite, ou au contraire à y répondre tout de suite.
Repensez-y régulièrement, révisez vos aspirations, elles peuvent évoluer.
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}Plus vous voudrez répondre à vos aspirations, plus vous aurez à sortir de votre zone de confort, et parfois d’aller à contre-courant par rapport à la société.
<br>
A la clé: vous sentir pleinement vous-même. Avoir le sentiment d’avoir trouvé votre place dans ce monde. Etre sans aucun regret par rapport à votre passage sur 
Terre.
{% include al type='fin_paragraphe' %}

{% include al type='citation' %}Vivez vos rêves, plutôt que de rêver votre vie{% include al type='fin_citation' %}
