---
layout: article
title: "Soyez qui vous voulez"
date: 2018-01-19
intro: "Vous pensez être gentil, réservé, extraverti, ...? Et s'il était possible d'être beaucoup plus que ces adjectifs? Ou juste différent? Surprenez-vous!"
---

{% include al type='paragraphe' %} Il y a quelques années à peine, je me souviens interroger mon frère dans le but de rédiger ma petite fiche pour un site de rencontre : “est-ce que je suis quelqu’un de dynamique ou de calme? Qu’est-ce qui me différencie des autres?”

Eh oui, aussi surprenant que cela paraisse, on ne se connaît pas toujours soi-même!

{% include al type='fin_paragraphe' %}



{% include al type='paragraphe' %}

Grâce à une formation, des lectures, des rencontres, on parvient à faire connaissance avec soi-même : je suis introverti / sociable / réfléchi / créatif / ...

Ce travail est très enrichissant. Il permet de se découvrir, de mieux vivre avec soi-même, et aussi de mieux connaître les autres, les différences, les difficultés et richesses dans les relations. Il permet également de prendre conscience et travailler sur les lacunes de ses traits de personnalité.

Ce travail prend des années, il peut même s’étaler sur toute une vie!

{% include al type='fin_paragraphe' %}



{% include al type='paragraphe' %}

Pour les motivés, il est possible d’exploiter encore davantage cette connaissance.

{% include al type='passage_important' %}Vous "n’êtes pas" un type de personnalité. Vous avez pris l’habitude d’agir de la sorte. Etre / agir.{% include al type='fin_passage_important' %}

Dès tout petit, on cherche sa place : au sein de la famille, de la classe, du groupe d’amis, dans son club, … Un enfant la trouvera en faisant le pitre, un autre en étant très souple, un autre choisira d’être plutôt dans l’observation. On devient à l’aise dans ce comportement, au point de l’utiliser dans des situations très différentes. Et aux yeux des autres et à nos yeux, on peut croire qu’on “est” comme ça.

{% include al type='fin_paragraphe' %}



{% include al type='paragraphe' %}

{% include al type='passage_important' %} Vous avez la capacité d’agir autrement. Et même, vous avez intérêt à savoir agir autrement.{% include al type='fin_passage_important' %}

Pour quelles raisons?

Déjà au nom de votre liberté: si vous n’avez appris qu’un rôle, vous êtes coincés là-dedans; alors que si vous connaissez plusieurs rôles, vous serez libres de jouer votre préféré ou de tenter parfois les autres.

Ensuite pour l’efficacité : en fonction des situations, les autres rôles pourraient vous être plus bénéfiques. Vous devenez plus adaptable, plus pertinent!

{% include al type='fin_paragraphe' %}



{% include al type='paragraphe' %}

Voici une liste de réponses différentes. Lesquelles jouez-vous très souvent? Jamais?

Y a t-il des réponses pour lesquelles vous aimeriez parfois agir autrement?

Si oui, démarrez l’aventure en essayant de changer votre réponse. Vous avez le droit d’être imprévisible, de surprendre et de vous surprendre :)



{% include al type='debut_liste' %} 

{% include al type='element_liste' %} prendre la parole / écouter / observer{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} imposer / proposer / suivre / refuser{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} agir rapidement / mûrir sa réflexion{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} s’intégrer / s’isoler{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} se centrer sur les autres / sur soi{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} s’appuyer sur sa partie rationnelle / intuitive{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} être dynamique / calme{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} être audacieux / prudent{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} privilégier l’action / la relation / la connaissance{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} réfléchir avec d’autres personnes / seul{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} travailler la vue d’ensemble / les détails{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} amener du changement / suivre une routine{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} anticiper / réagir{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} se concentrer sur l’objectif / le plaisir de l’action{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} suivre les règles / les transgresser{% include al type='fin_element_liste' %} 

{% include al type='element_liste' %} être dans un esprit de compétition / d’amour universel{% include al type='fin_element_liste' %} 

{% include al type='fin_liste' %}

{% include al type='fin_paragraphe' %}
