---
layout: article
title: "Pourquoi parlez-vous?"
date: 2018-03-07
intro: Si on n’y a jamais réfléchi, on pense que l’intention de ses prises de parole est évidente. Si on y réfléchit… on n’en sait souvent rien soi-même.
---

{% include al type='paragraphe' %}
Il est très rare qu’on précise son besoin lorsqu’on prend la parole.
{% include al type='passage_important' %}
En conséquence de quoi, l’autre projette un besoin, et répond à ce besoin imaginé. Ce qui peut générer incompréhensions et frustrations.
{% include al type='fin_passage_important' %}

{% include al type='exemple' %}
Après une journée difficile, Eva raconte ses problèmes de la journée. 
Eric l’interrompt et lui propose des solutions aux premiers problèmes évoqués. 
Eva s’énerve: ne pourrait-il juste pas écouter et la soutenir? 
Eric s’énerve: elle ne fait que se plaindre et refuse ses conseils, autant ne rien dire.
{% include al type='fin_exemple' %}

{% include al type='fin_paragraphe' %}


{% include al type='paragraphe' %}
Voici des exemples de ce qu’on peut espérer de l’autre quand on lui parle:

{% include al type='debut_liste' %}
{% include al type='element_liste' %}du soutien pendant la prise de parole{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}de l’aide en dehors de la prise de parole{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}de l’écoute{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}des idées, conseils, autres points de vue{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}du fun{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}une position détendue{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}de l’aide pour clarifier ses propres idées{% include al type='fin_element_liste' %}
{% include al type='element_liste' %}un échange constructif{% include al type='fin_element_liste' %}
{% include al type='fin_liste' %}
{% include al type='fin_paragraphe' %}

{% include al type='paragraphe' %}
{% include al type='passage_important' %}
Quand cela vous semble utile, vous pouvez préciser à l’autre ce que vous attendez de lui, et vérifier qu’il est prêt à vous l’offrir.
{% include al type='fin_passage_important' %}
{% include al type='fin_paragraphe' %}
