---
layout: article
title: "Quand se fixer un objectif ne suffit pas"
date: 2018-01-28
intro: "Vous ne trouvez pas le temps ou la motivation, vous vous découragez, ou vous oubliez votre objectif? Cet article est pour vous!"
---

{% include al type='paragraphe' %}
Je pars ici du principe que vous vous êtes fixé un objectif - cela peut être aussi bien un objectif ambitieux (fabriquer un engin pour se téléporter sur une autre planète) qu’un objectif/corvée terre à terre (écrire un rapport ennuyeux).
{% include al type='fin_paragraphe' %}


{% include al type='paragraphe' %}Pour augmenter vos chances de réussite, je recommande de définir sa “prochaine action”. 
{% include al type='passage_important' %}Définissez une petite action très concrète et facilement réalisable, qui sera un simple 
pas vers votre objectif.
Et dès que cette action est réalisée, ou si elle ne s’avère finalement pas judicieuse : vous redéfinissez une “prochaine action”. Et ainsi de suite.
{% include al type='fin_passage_important' %}
L’idée est de ne pas suivre coûte que coûte une suite d’actions définies à l’avance, mais de définir votre prochaine action au fur et à mesure de votre avancement, votre temps, énergie, …
{% include al type='fin_paragraphe' %}

{% include al type='exemple' %}Exemple: fabriquer un engin pour se téléporter sur une autre planète 
{% include al type='debut_liste' %}
{% include al type='element_liste' %}prochaine action : rechercher les publications de chercheurs sur le sujet{% include al type='fin_element_liste' %}
Vous recherchez et n’en trouvez pas, vous redéfinissez une nouvelle action :
{% include al type='element_liste' %}chercher d’autres personnes intéressées{% include al type='fin_element_liste' %}
{% include al type='fin_exemple' %}

{% include al type='paragraphe' %}L’atout de cette méthode réside dans la détermination au fur et à mesure de petites actions concrètes et facilement réalisables. Au lieu de regarder un sommet et de se dire qu’il est inaccessible, on découvre et choisit ses points d’appui au fur et à mesure qu’on grimpe.
{% include al type='fin_paragraphe' %}
